/* Gaya Umum */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

 /* Navigasi */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
}

/* Logo Styling */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px; /* Sesuaikan ukuran logo */
    width: auto;
    margin-left: 20px; /* Geser ke kiri jika perlu */

}

/* Hero Section */
.hero {
    background-color: #ffa726;
    padding: 100px 20px;
}

.hero-content {
    max-width: 600px;
    margin: auto;
}

.hero h1 {
    color: white;
    font-size: 36px;
}

.hero p {
    color: #f4f4f4;
    font-size: 18px;
}

.cta-button {
    display: inline-block;
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
    transition: 0.3s;
}

.cta-button:hover {
    background-color: #e68900;
}
